a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}
.btn {
  font-weight: bold !important;
}
.refresh-btn {
  transition: transform 1s ease;
}
.refresh-btn.spin {
  animation: spin 0.5s ease;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

/* breaking out of "small" devices */
@media screen and (min-width: 576px) {
  .narrow-container {
    width: 516px;
    margin: 0 auto;
  }
}
.question-card:hover {
  border-color: #ffc107;
}

.data-card{
  margin: 1rem;
  background-color: azure;
}
